:root {
    --color-bg-dark: #1f2937;
    --color-text-dark: #93befa;

    --color-bg-light: #4e6687;
    --color-text-light: #90bbf7;
}

.dark {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);

    .title {
        color: var(--color-text-dark);
    }
}

.light {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);

    .title {
        color: var(--color-text-light);
    }
}
